body {
  /*background: #636e72;*/
background: #186e99;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #186e99, #186e99);  /* Chrome 10-25, Safari 5.1-6 */
background:  linear-gradient(to right, #a1b0b5, #b7d3da ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
